{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

{% include 'pdca/header.html' %}

<div class="container">

    <h3 class="text-secondary">PLANO DE AÇÃO - ADICIONAR</h3>
    {% bootstrap_messages %}

    <form action="{% url 'pdca-add' %}" method="post" class="form" autocomplete="off">
        {% csrf_token %}

         <div class="form-row align-items-center">

            <div class="col-12">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">PDCA</div>
                </div>
                <input type="text" class="form-control" id="objetivo" name="objetivo" placeholder="Objetivo" required >
              </div>
            </div>

             <div class="col-sm-6 col-md-3">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Inicio</div>
                </div>
                <input type="date" class="form-control" id="inicio" name="inicio">
              </div>
             </div>

             <div class="col-sm-6 col-md-3">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Fim</div>
                </div>
                <input type="date" class="form-control" id="fim" name="fim">
              </div>
             </div>

             <div class="col-sm-12 col-md-6">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">Responsável</div>
                </div>
                <input type="text" class="form-control" id="quem" name="quem">
              </div>
             </div>

             <div class="col-12">
              <div class="input-group mb-2">

                <textarea name="descricao" rows="10" class="form-control" placeholder="Descrição" title="" required id="descricao"></textarea>
              </div>
             </div>

          </div>


        {% buttons %}
            <button type="submit" class="btn btn-info">Cadastrar</button>
        {% endbuttons %}

    </form>

</div>



{% endblock %}