{% load static %}

<!-- incluso em header -->

<div class="container-fluid hero">

      <img src="{% static 'images/hero.svg' %}" alt="" style="opacity: 0.3;">

      <div class="container">
        <!-- Hero Title -->
        <h1 class="text-secondary">Tarvos<br>Soluções em Projetos</h1>

        <!-- Hero Title Info -->
          <p>
            A Tarvos foi criada com o intuito de criar soluções para controle e analise de despesas
          </p>

          <p>
            Esperamos num futuro próximo estar trazendo novas ferramentas, como:
          <br>
            Controle de Despesas, Controle de Perdas, Análise exploratória de dados, Machine Learning, entre outros...
          </p>

        <div class="hero-btns">
          <!-- Hero Btn First -->
          <a data-scroll href="#next-projects">Próximos Projetos</a>
          <!-- Hero Btn Second -->
          <a data-scroll href="#projetos">Projetos</a>
        </div>

      </div>

    </div>
