{% load static %}

<!-- incluso em index -->

<section id="next-projects" class="services">

    <div class="container-fluid">

      <div class="side-img">
        <img src="{% static 'images/aside.svg' %}" alt="">
      </div>

      <div class="side2-img">
        <img src="{% static 'images/aside2.svg' %}" alt="">
      </div>

      <div class="container">

        <div class="row">
          <div class="col-12 col-sm-12 col-lg-4 service-txt">
            <h2>Próximos Projetos</h2>
              <p>+ Projetos em andamento</p>
              <br><br>
            <div class="hero-btns service-btn">
              <a data-scroll href="#projetos">Todos Projetos</a>
            </div>
          </div>


          <div class="col-12 col-sm-6 col-lg-4">
            <div class="service-box">
              <img src="{% static 'images/service-icon1.svg' %}" alt="">
              <!-- Service Title -->
              <h3>GMD</h3>
              <!-- Replace Patch to Image Under -->
              <p>
                  <strong>Matriz de Despesas:</strong> <br> <br>
                  Análise de Orçamentos e Despesas por Pacotes e Centro de Custo
              </p>
            </div>
          </div>

          <div class="col-12 col-sm-6 col-lg-4">
            <div class="service-box">
              <img src="{% static 'images/service-icon2.svg' %}" alt="">
              <!-- Service Title -->
              <h3>Despesas Disk</h3>
              <!-- Replace Patch to Image Under -->
              <p>
                  <strong>Controle de Despesas Motoboy</strong>
                  <br> <br>
                  Análise de Orçamentos e Despesas referente ao Disk entregas
                   +
                  Análise de Despesa x Faturamento
              </p>
          </div>

        </div>
      </div>
    </div>
  </section>