{% load static %}

<!-- incluso em index -->

  <section id="projetos" class="blog">

    <div class="container-fluid">

      <div class="blog-aside">
        <img src="{% static 'images/aside4.svg' %}" alt="">
      </div>

      <div class="container">

        <div class="row">

          <div class="col-12">
            <h5>Todos Projetos</h5>
            <h2>Em Andamento e Finalizados</h2>
          </div>

        </div>

        <div id="blog-drag" class="row blog-slider">

          <div class="col-12 col-lg-4 blog-box blog-first">
            <!-- Blog Post Title -->
            <h6>Projeto GMD</h6>
            <!-- Blog Post Date -->
            <p>20 de Março de 2021</p>
            <!-- Blog Post -->
            <p>
                <strong>Matriz de Despesas:</strong> <br> <br>
                  Análise de Orçamentos e Despesas por Pacotes e Centro de Custo
            </p>
          </div>

          <div class="col-12 col-lg-4 blog-box">
            <!-- Blog Post Title -->
            <h6>Controle de Despesa Disk</h6>
            <!-- Blog Post Date -->
            <p>21 de Março de 2021</p>
            <!-- Blog Post -->
            <p>
                <strong>Controle de Despesas Motoboy</strong>
                  <br> <br>
                  Análise de Orçamentos e Despesas referente ao Disk entregas

            </p>
          </div>


        </div>
        <!-- Blog Button to Show More or Less on Mobile&Tablet View  -->
        <button class="hide-me" id="blog-btn">Próximo</button>

      </div>
    </div>
  </section> 